<h2>Welcome :)</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<input type="text" placeholder="Name" />
			<input type="password" placeholder="Password" />
			<button>Register</button>
		</form>
	</div>

	<div class="form-container sign-in-container">
			<form action="uk-width-expand">
						<input type="username" placeholder="Username" value="afnsptra" />
						<input type="password" placeholder="Password" value="12345" />
						<a href="/forgot">Forgot your password?</a>						
						<button routerLink="/admin">LOGIN</button>	
		</form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Guys!</h1>
				<p>let's create an account and enjoy the fun!</p>
				<button class="ghost" routerLink ="/register">Register</button>
			</div>
		</div>
	</div>
</div>



          