<div class="login">
	<h1>Login</h1>
    <form method="post">
		<mat-label>Name</mat-label>
    	<input placeholder="Username" value="">
		<mat-label>Password</mat-label>
        <input type="password" name="p" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" routerLink="/admin">LOGIN</button>
		<div class="uk-flex uk-flex-right">
			<div class="uk-width-expand">
			  <button mat-button routerLink="/register">Create Account</button>
			  <button mat-button routerLink="/forgot">Forgot?</button>
			</div>
</div>