<div class="login">
	<h1>REGISTER</h1>
    <form method="post">
		<mat-label>Name</mat-label>
			<input placeholder="Username" value="">
				<mat-label>Email</mat-label>
            		<input placeholder="xxxxxxxx.com" value="">
			<mat-label>Password</mat-label>
        <input type="password" placeholder="Your password" value="">
        <button type="submit" class="btn btn-primary btn-block btn-large ">REGISTER</button>
			<div class="uk-flex uk-flex-right">
				<div class="uk-width-expand">
					<button mat-button routerLink="/login">I have an account</button>
			</div>
</div>